[Unit]
Description=STYL Yellowfin Extra Configure Service
Requires=dbus.service
After=styl-system-startup.service

[Service]
Type=simple
ExecStart=/usr/bin/python /home/root/extra-service/extra_config_runtime.py

[Install]
WantedBy=multi-user.target
